* {
    padding: 0;
    margin: 0;
}
  

body {
    background-color: rgb(239, 229, 141);
}

.button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 12px;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.container1 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 8px;
}